<div class="testing">

	<h2>January 1, 2016</h2>
	<p>Happy New Year!</p>
	<p class="quote-title">Reaching Goals</p>
	<p class="quote-body">“It must be borne in mind that the tragedy of life doesn’t lie in not reaching your goal. The tragedy lies in having no goal to reach. It isn’t a calamity to die with dreams unfulfilled, but it is a calamity not to dream. It is not a disaster to be unable to capture your ideal, but it is a disaster to have no ideal to capture. It is not a disgrace not to reach the stars, but it is a disgrace to have no stars to reach for. Not failure, but low aim is sin.” </p>
</div>
