<div class="testing">
	<h1><i class="fa fa-home fa-2x"></i>Welcome Home</h1>
	<p>The FreeDOME Express | The Peoples Press</p>
	<h2>January 1, 2016</h2>
	<p>Happy New Year!</p>
	<ul>
		<h3>ToDo</h3>
		<li>Responsive Text</li>
		<li>background Image</li>
		<li>Rollover for home icon</li>
		<li>First Post</li>
		<li>Generate Post controller</li>
	</ul>
</div>