<div class="testing">

	<h2>January 1, 2016</h2>
	<p>Happy New Year!</p>
	<div class="quotes">
		<p class="quote-title">Reaching Goals</p>
		<p class="quote-body">“It must be borne in mind that </br>the tragedy of life doesn’t lie in not reaching your goal. </br>The tragedy lies in having no goal to reach.</br> </br>It isn’t a calamity to die with dreams unfulfilled, </br>but it is a calamity not to dream.</br> </br>It is not a disaster to be unable to capture your ideal, </br>but it is a disaster to have no ideal to capture.</br> </br>It is not a disgrace not to reach the stars, </br>but it is a disgrace to have no stars to reach for. </br></br>Not failure, </br>but low aim is sin.” </p>
		<p class="quote-autor">-Dr. Benjamin E. Mays</p>
	</div> <!-- end quotes -->
	<div class="fontTest shadow">
		<p class="Anton fontish">The FreeDOME Express - Anton</p>
		<p class="Oswald fontish">The FreeDOME Express - Oswald</p>
		<p class="Montserrat fontish">The FreeDOME Express - Montserrat</p>
		<p class="Bangers fontish">The FreeDOME Express - Bangers</p>
		<p class="Luckiest fontish">The FreeDOME Express - Luckiest Guy</p>
		<p class="Open fontish">The FreeDOME Express - Open Sans</p>
		<p class="OpenCondensed fontish">The FreeDOME Express - Open Sans Condensed</p>
	</div>
</div>
