footer {
	padding: 5px;
	display:inline-block;
	}
// OPEN: create inline:block footer links to appropriate links
footer>p {
	font-family:"Open Sans Condensed";
	font-style:italic;
	font-weight:bold;
	color: $darkbase;
}
footer>p:hover {
	color: $highlight;
}
// PIPELINE: Content & Design decisions -- What does the footer really look like and what data does it contain?
