footer {
	padding: 5px;
	}

footer>p {
	font-family:"Open Sans Condensed";
	font-style:italic;
	font-weight:bold;
}
// PIPELINE: Content & Design decisions -- What does the footer really look like and what data does it contain?
