$darkgold: rgb(133, 75, 17);
$paper: #F7F6A8;
$darkbase: #2E3532;
$yellowish: #F0CF65;
$papershadow: #F3ED86;
$baseshadow: #BEAD85;
$highlight: #e56500;
$baseblue: #578ebf;
$mainfont: "Anton";
$basefont: "Open Sans";


body {
  background-color: $baseblue;
  font-family:  $basefont;
}

h1 h2 h3 h4 h5 h6 {
  font-family: $mainfont;
}

@media screen and (max-width: 400px) {
  body {
    background-color: darken($baseblue, 20%);
  }

  h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2em;
    color: $darkgold;
  }

  footer >p {
    color: $darkbase;
  }
}

.home-button {
  color: $darkgold;
}

.home-button:hover {
  color: lighten($darkgold, 15%);
}

navbar {
  color: red;
}
//PIPELINE: Include a proper color theme pallete here.  See coolors site.
