body {
  background-color: white;
  font-family: 'Open Sans';
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat';
}

h1 {
	font-weight:bold;
}

@media screen and (max-width: 400px) {
	body {
		background-color: goldenrod;
	}
	h1 {
		font-family:'Montserrat';
		font-weight:bold;
		font-size:2em;
		}
	footer >p{
		color:black;
	}
}