$darkgold: rgb(133, 75, 17);
$paper: rgb(207, 201, 160);

body {
  background-color: $paper;
  font-family: 'Open Sans';
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat';
}

@media screen and (max-width: 400px) {
  body {
    background-color: goldenrod;
  }

  h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2em;
    color: $darkgold;
  }

  footer >p {
    color: $darkgold;
  }
}

.home-button {
  color: $darkgold;
}
.home-button:hover {
  color: lighten($darkgold, 15%);
}
// PIPELINE: Include a proper color theme pallete here.  See coolors site.
