// TODO: let's see if THIS get's put in the todo list.
.fancyBackground {
  // background: linear-gradient(270deg, #f7f6a8, #f3ed86, #f0cf65, #bead85, #e56500, $darkgold);
  background: linear-gradient(270deg, #cde6f5, #74c0ee, #8da7be, #578ebf);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;

  @-webkit-keyframes AnimationName {
     0%{background-position:0% 60%}
     50%{background-position:100% 41%}
     100%{background-position:0% 60%}
  }
  @-moz-keyframes AnimationName {
     0%{background-position:0% 60%}
     50%{background-position:100% 41%}
     100%{background-position:0% 60%}
  }
  @-o-keyframes AnimationName {
     0%{background-position:0% 60%}
     50%{background-position:100% 41%}
     100%{background-position:0% 60%}
  }
  @keyframes AnimationName {
     0%{background-position:0% 60%}
     50%{background-position:100% 41%}
     100%{background-position:0% 60%}
  }
}
#pageTitle {
  color: $darkbase;
  font-family: "Anton";
}

.fontTest {
  font-size: 1.5em;
  color: lighten($darkbase, 15%);
  display: inline-block;
  padding:15px;
  border:1px solid $darkbase;
  background: $darkgold;
  margin-top:10px;
}
.fontTest p {
  display: flex;
  justify-content: center;
}
.Anton {font-family: "Anton";}
.Oswald {font-family: "Oswald";}
.Open {font-family: "Open Sans";}
.OpenCondensed {font-family: "Open Sans Condensed";}
.Montserrat {font-family: "Montserrat";}
.Luckiest {font-family: "Luckiest Guy";}
.Bangers {font-family: "Bangers";}
.fontish {
  line-height: 1.5;
}
.fontTest>p:hover {
  color:$darkbase;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
