<!DOCTYPE html>
<html>
<head>
  <title>The FreeDOME Express</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
<nav class="navbar navbar-fixed navbar-inverse">
	<h1 class="navbar-brand">The FreeDOME Express</h1>
</nav>
  <div class="container">

	  <%= yield %>
		  
	  <footer>
	  	<p> <i class="fa fa-phone"></i> 3iRustyp0e </p>
	  </footer>
  </div>

</body>
</html>
