<!DOCTYPE html>
<html>
<head>
  <title>The FreeDOME Express</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  </head>
<body>
  <div class="container">
    <h1 id="pageTitle">The FreeDOME Express</h1>
  	<p class="pageTagline">The Peoples Press</p>
	  <%= yield %>

	  <footer>
	  	<p> <i class="fa fa-phone-square"></i> 3iRustyp0e </p>
	  	<p> <i class="fa fa-github-square"></i> tingansob</p>
	  	<p> <i class="fa fa-google-plus-square"></i> tingansob</p>
	  </footer>
  </div>

</body>
</html>
<!--
// PIPELINE: Test of pipeline - comment in html?
-->
<% #TODO: Make sure this shows up in the ToDo list %>
